<%= form_with(model: @post, local: true) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
  </div>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, size: "60x12", autofocus: true, autocomplete: "content" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
