<% provide(:title, "Exclusive Clubhouse") %>

<h1>Exclusive Clubhouse</h1>
<h2>All Posts</h2>

<% @posts.each do |post| %>
  <h4><%= post.title %></h4>
  <% if user_signed_in? %>
    <small><%= post.user.name %></small>
  <% end %>
  <p><%= post.content %></p>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
  <br>
  <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Sign Up', new_user_registration_path %>
  <br>
  <%= link_to 'Sign In', new_user_session_path %>
<% end %>
